<header class="header" id="app-header">
  <div class="logo">
    <img src="../../assets/image.svg" routerLink="/" alt="" />
  </div>
  <div class="links">
    <a *ngIf="!loggedUser" class="header-link" (click)="handleRegister()"
      >Registrarse</a
    >
    <a *ngIf="loggedUser" class="header-link" (click)="logout()">Desconectar</a>
    <a class="header-link" routerLink="/app-product-list">Productos</a>
  </div>
  <div>
    <button
      class="cart-button"
      class="cart-button fas fa-shopping-cart fa-xl"
      matBadgePosition="above after"
      (click)="handleModal()"
    ></button>
  </div>
  <div class="modal-container" [ngClass]="{ open: handleModal }">
    <ul
      class="modal-list"
      *ngFor="let product of cartItems"
      style="color: black"
    >
      <img
        src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_{{
          product.imagenes[0].nombre
        }}-med.jpg"
      />
      <li class="productname">{{ product.nombre }}</li>
      <li>
        <p>{{ currencyPipe.transform(product.precio, "ARS") }}</p>
      </li>
      <li>
        <button (click)="ngOnDestroy()">Borrar</button>
      </li>
      <hr />
    </ul>
    <hr />
    <button class="close-button" (click)="handleModal()">Cerrar carrito</button>
    <div *ngFor="let cartItem of cartItems">
      <p>{{ cartItem.nombre }}</p>
    </div>
    <div *ngIf="cartItems.length === 0">
      <p>No tienes productos en tu carrito.</p>
    </div>
  </div>
  <app-user-registration *ngIf="isRegisterOpen" />
</header>
