.header {
  display: flex;
  font-family: "Lekton", sans-serif;
  width: 90%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
}

.fontLekton {
  font-family: "Lekton", sans-serif;
  letter-spacing: 5px;
  color: #ffa300;
}

.sectionLinks {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-link {
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.header-link:hover {
  border-bottom: 2px solid #ffa300;
}

.cart-button {
  font-family: "Lekton", sans-serif;
  cursor: pointer;
  position: relative;
  padding: 8px 18px;
  font-size: 18px;
  color: #ffa300;
  border: 2px solid #ffa300;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.cart-button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #ffa300;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cart-button:hover::before {
  scale: 3;
}

.cart-button:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.cart-button:active {
  scale: 1;
}

.links {
  display: flex;
  gap: 16px;
}

.modal-container {
  position: absolute;
  right: 0;
  top: 100px;
  width: 380px;
  z-index: 99;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.modal-container .cart-section {
  border: 2px solid #ffa300;
  background-color: white;
}

.modal-container .cart-section .empty {
  padding: 16px;
}

.modal-list {
  list-style: none;
  display: flex;
  padding: 24px 8px;
  margin: 0;
  border-bottom: 1px solid lightgray;
  font-size: 0.8rem;
  gap: 16px;
}

.modal-list .image {
  margin: 0;
  padding: 0;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.modal-list .item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.modal-list .item .delete {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 1rem;
  top: -20px;
}

.modal-list .item .delete:hover {
  color: #ffa300;
}

.text {
  margin: 0;
}

.register-container {
  position: absolute;
  top: 320%;
  left: 50%;
  z-index: 999;
}
