<header class="header" id="app-header">
  <div class="logo">
    <h1 class="fontLekton">COMPRA GAMER</h1>
  </div>

  <section class="sectionLinks">
    <div class="links">
      <a class="header-link" (click)="handleRegister()">Registrarse</a>
    </div>

    <div>
      <button class="cart-button" (click)="handleModal()">
        <mat-icon>shopping_cart</mat-icon>
        {{ cartItems.length !== 0 ? cartItems.length : "" }}
      </button>
    </div>
  </section>
</header>

<div *ngIf="isModalOpen" class="overlay" (click)="handleModal()"></div>
<section *ngIf="isModalOpen" class="modal-container">
  <section class="cart-section">
    <ul
      class="modal-list"
      *ngFor="let product of cartItems"
      style="color: black"
    >
      <img
        class="image"
        src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_{{
          product.imagenes[0].nombre
        }}-med.jpg"
      />

      <div class="item">
        <li class="productname">{{ product.nombre }}</li>
        <li>
          <p class="text">{{ formatPrice(product) }}</p>
        </li>
        <li>
          <p class="text">{{ product.subcategoria?.nombre }}</p>
        </li>
        <li>
          <mat-icon (click)="removeProductFromCart(product)" class="delete"
            >delete</mat-icon
          >
        </li>
      </div>
    </ul>

    <div *ngIf="cartItems.length === 0">
      <p class="empty">No tienes productos en tu carrito.</p>
    </div>
  </section>
</section>

<div *ngIf="isRegisterOpen" class="overlay" (click)="handleRegister()"></div>
<section class="register-container">
  <app-user-registration *ngIf="isRegisterOpen" />
</section>
